button:hover{
    background-color: blue;
    color: white;
    font-size: 10px;
    border-color: purple;
    border-width: 5px;
    border-style: solid;
    border-radius: 8px;
}


button{
    padding: 10px 20px;
    border-radius: 12px;
}

h1{
    color: blue;
    font-size: 50px;
}

body{
    background-image: url("lake.jpg");
    background-size: cover;
    background-position: center center;
    /*display: flexsdfsdfsdf;*/
    min-height: 100vh;
}

input{
    border-radius: 8px;
}

input:hover{
    border-width: 3px;
    border-color: rgb(211, 11, 44);
}

